fastapi
uvicorn[standard]
pydantic
starlette

streamlit
altair

numpy
pandas
scikit-learn
scipy

requests
httpx

jinja2
python-dateutil
pytz

ipython
ipykernel
jupyter_client
jupyter_core

gitpython

protobuf
pyarrow

tenacity
typing_extensions

watchdog
tornado

python-dotenv